<div class = "login-box">
<!--<div class="modal-header">-->
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="cancel()"><span aria-hidden="true">x</span>
    </button>
   <br><br>
     <h4 class="login-title" jhiTranslate="login.title">Sign in</h4>
<!--</div>-->

        <img src="../../../content/images/user.png" class="login-avatar">
        <!--<div class="col-md-8 offset-md-2">-->
            <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            <!--</div>-->
        </div>
        <!--<div class="col-md-8 offset-md-2">-->
            <form  role="form" (ngSubmit)="login()">
                <span class="md-inputfield">
                    <label for="username" jhiTranslate="global.form.username">Login</label>
                    <input type="text"  name="username" id="username" placeholder="{{'global.form.username.placeholder' | translate}}"
                    [(ngModel)]="username">
                    </span>

                <span class="md-inputfield">
                    <label for="password" jhiTranslate="login.form.password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                           [(ngModel)]="password">
                </span>
                <div class="form-check">
                    <label class="form-check-label" for="rememberMe">
                        <label class="switch">
                            <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
                            <span class="slider round"></span>
                        </label>
                        <span jhiTranslate="login.form.rememberme">Remember me</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary btn-submit" jhiTranslate="login.form.button">Sign in</button>

            </form>
            <p></p>
                <a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a>
                <br>
                <a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a>

        <!--</div>-->


</div>
